In [8]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.model_selection import train_test_split

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
df_ultimate_test = pd.read_table("artificial_test.data", sep=" ", header=None)
df_ultimate_test = df_ultimate_test.drop(df_ultimate_test.columns[500], axis=1) # kolumna 500 do wyrzucenia
df_ultimate_test

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,483,454,513,495,523,469,453,477,506,479,...,455,480,543,259,413,520,485,498,523,510
1,485,508,493,487,478,472,504,476,479,475,...,486,480,535,534,514,452,484,495,548,477
2,483,521,507,475,493,486,421,475,496,483,...,491,476,498,495,508,528,486,465,508,503
3,474,504,576,480,553,483,524,478,483,483,...,521,475,470,463,509,525,479,467,552,517
4,495,474,523,479,495,488,485,476,497,478,...,510,471,522,343,509,520,475,493,506,491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,493,458,503,478,517,479,472,478,444,477,...,469,475,485,443,517,486,474,489,506,506
596,481,484,481,490,449,481,467,478,469,483,...,506,485,508,599,498,527,481,490,455,451
597,485,485,530,480,444,487,462,475,509,494,...,442,474,502,368,453,482,478,481,484,517
598,477,469,528,485,483,469,482,477,494,476,...,473,476,453,638,471,538,470,490,613,492
599,482,453,515,481,500,493,503,477,501,475,...,484,478,487,694,493,499,474,494,536,526

In [10]:
df_data_X = pd.read_table("artificial_train.data", sep=" ", header=None)
df_data_X = df_data_X.drop(df_data_X.columns[500], axis=1)
df_data_X

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,485,477,537,479,452,471,491,476,475,473,...,477,481,477,485,511,485,481,479,475,496
1,483,458,460,487,587,475,526,479,485,469,...,463,478,487,338,513,486,483,492,510,517
2,487,542,499,468,448,471,442,478,480,477,...,487,481,492,650,506,501,480,489,499,498
3,480,491,510,485,495,472,417,474,502,476,...,491,480,474,572,454,469,475,482,494,461
4,484,502,528,489,466,481,402,478,487,468,...,488,479,452,435,486,508,481,504,495,511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,490,505,503,474,463,461,519,476,518,467,...,467,479,449,588,499,506,475,463,507,501
1996,480,475,476,480,495,482,515,479,480,484,...,464,474,473,424,454,570,476,493,465,485
1997,480,517,631,470,485,474,535,476,493,466,...,501,483,479,687,488,488,483,500,523,481
1998,484,481,505,478,542,477,518,477,510,472,...,487,483,526,750,486,529,484,473,527,485
1999,474,493,469,486,521,475,494,479,481,473,...,467,476,508,449,463,533,481,489,516,516

In [11]:
df_data_Y = pd.read_table("artificial_train.labels", sep=" ", header=None)
df_data_Y.columns = ["label"]
df_data_Y

      label
0        -1
1        -1
2        -1
3         1
4         1
...     ...
1995      1
1996     -1
1997     -1
1998      1
1999      1

[2000 rows x 1 columns]

In [12]:
import numpy as np
import pandas as pd
from sklearn.base import BaseEstimator, TransformerMixin
from xgboost import XGBRegressor

class XGBFeatureExtractor(BaseEstimator, TransformerMixin):
    def __init__(self, n_components=100, xgb_params=None):
        """
        XGBFeatureExtractor constructor.

        Parameters:
        - n_components: Number of components to keep.
        - xgb_params: Parameters for XGBoost model.
        """
        self.n_components = n_components
        self.xgb_params = xgb_params
        self.feature_importances_ = None
        self.xgb_model = None

    def fit(self, X, y=None):
        """
        Fit the XGBFeatureExtractor on the input data.

        Parameters:
        - X: Input data.
        - y: Target variable.

        Returns:
        - self
        """
        self.xgb_model = XGBRegressor(**self.xgb_params)
        self.xgb_model.fit(X, y)
        self.feature_importances_ = self.xgb_model.feature_importances_

        return self

    def transform(self, X):
        """
        Transform the input data using the fitted XGBFeatureExtractor.

        Parameters:
        - X: Input data.

        Returns:
        - Transformed data.
        """
        feature_importances = self.feature_importances_
        sorted_indices = np.argsort(feature_importances)[::-1][:self.n_components]
        selected_features = X.iloc[:, sorted_indices]

        return selected_features

In [13]:
xgbextractor = XGBFeatureExtractor(n_components=100, xgb_params={'n_estimators': 100, 'max_depth': 3, 'learning_rate': 0.1})
df_data_X_top100 = pd.DataFrame(xgbextractor.fit_transform(df_data_X, df_data_Y))

In [14]:
X_train0, X_test0, y_train0, y_test0 = train_test_split(df_data_X_top100, df_data_Y, test_size=0.20, random_state=4, stratify=df_data_Y)
X_train1, X_test1, y_train1, y_test1 = train_test_split(df_data_X, df_data_Y, test_size=0.20, random_state=4, stratify=df_data_Y)

In [15]:
from tabpfn import TabPFNClassifier

In [16]:
classifier0 = TabPFNClassifier(device='cpu', N_ensemble_configurations=32)
classifier1 = TabPFNClassifier(device='cpu', N_ensemble_configurations=32, subsample_features=True)

In [17]:
classifier0.fit(X_train0, y_train0, overwrite_warning=True)
y_eval0 = classifier0.predict(X_test0)
y_train_pred0 = classifier0.predict(X_train0)

d:\Politechnika_Warszawska\SEM7\AutoML\HW2\pd2\venv\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
d:\Politechnika_Warszawska\SEM7\AutoML\HW2\pd2\venv\lib\site-packages\torch\utils\checkpoint.py:429: UserWarning: torch.utils.checkpoint: please pass in use_reentrant=True or use_reentrant=False explicitly. The default value of use_reentrant will be updated to be False in the future. To maintain current behavior, pass use_reentrant=True. It is recommended that you use use_reentrant=False. Refer to docs for more details on the differences between the two variants.
  warnings.warn(
d:\Politechnika_Warszawska\SEM7\AutoML\HW2\pd2\venv\lib\site-packages\torch\utils\checkpoint.py:429: UserWarning: torch.utils.checkpoint: please pass in use_reentrant=True or use_reentrant=False explicitly. The default value of use_reentrant will be updated to be False in the future. To maintain current behavior, pass use_reentrant=True. It is recommended that you use use_reentrant=False. Refer to docs for more details on the differences between the two variants.
  warnings.warn(

In [18]:
classifier1.fit(X_train1, y_train1, overwrite_warning=True)
y_eval1 = classifier1.predict(X_test1)
y_train_pred1 = classifier1.predict(X_train1)

d:\Politechnika_Warszawska\SEM7\AutoML\HW2\pd2\venv\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

WARNING: The number of features for this classifier is restricted to  100  and will be subsampled.

d:\Politechnika_Warszawska\SEM7\AutoML\HW2\pd2\venv\lib\site-packages\torch\utils\checkpoint.py:429: UserWarning: torch.utils.checkpoint: please pass in use_reentrant=True or use_reentrant=False explicitly. The default value of use_reentrant will be updated to be False in the future. To maintain current behavior, pass use_reentrant=True. It is recommended that you use use_reentrant=False. Refer to docs for more details on the differences between the two variants.
  warnings.warn(
d:\Politechnika_Warszawska\SEM7\AutoML\HW2\pd2\venv\lib\site-packages\torch\utils\checkpoint.py:429: UserWarning: torch.utils.checkpoint: please pass in use_reentrant=True or use_reentrant=False explicitly. The default value of use_reentrant will be updated to be False in the future. To maintain current behavior, pass use_reentrant=True. It is recommended that you use use_reentrant=False. Refer to docs for more details on the differences between the two variants.
  warnings.warn(

In [19]:
print(f"best training score {balanced_accuracy_score(y_train0, y_train_pred0)} ,score test {balanced_accuracy_score(y_test0, y_eval0)}")

best training score 0.996875 ,score test 0.6725

In [20]:
print(f"best training score {balanced_accuracy_score(y_train1, y_train_pred1)} ,score test {balanced_accuracy_score(y_test1, y_eval1)}")

best training score 0.975 ,score test 0.575